
.board {
    margin: 5px;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

th {
    padding-right: 5px;
    padding-bottom: 1px;
}

.cell {
    border: 1px solid black;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.dark {
    background-color: white;
}

.white {
    background-color: lightblue;
}

.queen {
    background-color: lightgreen;
}

.knight {
    background-color: lightgray;
}
